
@import "apps/beats/src/assets/scss/colors";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $clr-black-1;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
